<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freenote</title>
</head>
<body>
    <div id="notes">
        <ul>
            <li>
                <details>
                    <summary>Notes</summary>
                    <ul>
                        <li>Note1</li>
                        <li>Note2</li>
                        <li>Note3</li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
    <div id="writing-area">
        <label for="note"></label>  {# Put this here so PyCharm doesn't complain #}
        <textarea id="note" rows="10" cols="50"></textarea>
    </div>

    <script src="../static/app.js"></script>
</body>
</html>